.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 79px;
  margin-bottom: 200px;
  flex-wrap: wrap;
}

.about-right {
  width: 500px;
}

.about-title {
  font-family: Inter, Arial;
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 8px;
}

.about-tagline {
  font-family: Inter, Arial;
  font-size: 42.63px;
  font-weight: 700;
  color: #0D0D0D;
  margin-bottom: 36px;
}

.text-to-blue {
  color: #404E7C;
}

.about-p1 {
  font-family: Inter, Arial;
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin-bottom: 16px;
}

.about-p2 {
  font-family: Inter, Arial;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

@media (max-width: 600px){
  .about-image {
    width: 175px;
    height: 263px;
  }

  .about-title {
    text-align: center;
    font-size: 13.5px;
  }

  .about-tagline {
    text-align: center;
    font-size: 23.99px;
    overflow-wrap: break-word;
  }

  .about-p1, .about-p2 {
    text-align: center;
    font-size: 10.13px;
    width: 100%;
    overflow-wrap: break-word;
  }

  .about-right {
    padding: 0;
    margin: 0;
    width: 100%;
  }


  .about-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
  }

  .about-left {
    display: flex;
    justify-content: center;
    order: 2;
  }

}